<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Категории товаров` taxonomy...</div>
<div class="progress-msg">Composing terms for `Метки товаров` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кроссовки зимние (чёрный)36|37|38|39|40-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Кроссовки зимние (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` for `Кроссовки зимние (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5674.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56745.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56745.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Обувь`, duplicate detected. Importing Товар to existing `Обувь` product_cat, ID 378, slug `obuv` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 216, slug `krossovki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (чёрный)` `Товар` (ID: 70472)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Брюки парадные женские (белый)2xl|l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Брюки парадные женские (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5499.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54995.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54995.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5500.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55005.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55005.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (белый)` `Товар` (ID: 70479)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Брюки парадные женские (чёрный)2xs|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Брюки парадные женские (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5501.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55015.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55015.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5502.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55025.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55025.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (чёрный)` `Товар` (ID: 70487)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (белый)l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5448.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54485.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54485.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5449.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54495.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54495.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки`, duplicate detected. Importing Товар to existing `Куртки` product_cat, ID 384, slug `kurtki-zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Спортивные (парадные)` product_cat, ID 387, slug `sportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70496)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (белый)2xl|l|m|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5446.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54465.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54465.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5447.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54475.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54475.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки`, duplicate detected. Importing Товар to existing `Куртки` product_cat, ID 384, slug `kurtki-zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Спортивные (парадные)` product_cat, ID 387, slug `sportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70503)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (бирюзовый)l|m|s|xl-бирюзовый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (бирюзовый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (бирюзовый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (бирюзовый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5452.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54525.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54525.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5453.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54535.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54535.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки`, duplicate detected. Importing Товар to existing `Куртки` product_cat, ID 384, slug `kurtki-zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Спортивные (парадные)` product_cat, ID 387, slug `sportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (бирюзовый)` `Товар` (ID: 70510)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кроссовки зимние (серебро)35|36|37|38|40|41|42|43-серебро`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (серебро)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (серебро)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 8 variations for parent product Кроссовки зимние (серебро).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` for `Кроссовки зимние (серебро)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5675.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56755.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56755.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Обувь`, duplicate detected. Importing Товар to existing `Обувь` product_cat, ID 378, slug `obuv` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 216, slug `krossovki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (серебро)` `Товар` (ID: 70517)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Жилет двусторонний (чёрный/серый)l|m|s|xl-чёрный/серый`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный/серый)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный/серый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Жилет двусторонний (чёрный/серый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5489.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54895.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54895.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5490.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54905.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54905.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный/серый)` `Товар` (ID: 70527)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Жилет двусторонний (чёрный)2xl|2xs|3xl|4xl|5xl|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 10 variations for parent product Жилет двусторонний (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5491.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54915.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54915.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5492.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54925.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54925.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный)` `Товар` (ID: 70534)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
