<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Категории товаров` taxonomy...</div>
<div class="progress-msg">Composing terms for `Метки товаров` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u2211g-by09236|37|38|39|40-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Кроссовки зимние (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` for `Кроссовки зимние (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5674.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56744.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56744.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 405, slug `krossovki-muzhskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (чёрный)` `Товар` (ID: 70353)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0121g-ff0922xl|l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Брюки парадные женские (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5499.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54994.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54994.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5500.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55004.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55004.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (белый)` `Товар` (ID: 70360)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0121g-bw0922xs|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Брюки парадные женские (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5501.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55014.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55014.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5502.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55024.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55024.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (чёрный)` `Товар` (ID: 70368)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111s-ww092l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5448.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54484.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54484.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5449.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54494.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54494.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Женское named `Спортивные (парадные)` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70377)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111g-ff0922xl|l|m|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5446.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54464.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54464.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5447.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54474.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54474.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Спортивные (парадные)` product_cat, ID 410, slug `sportivnye-paradnye-zhenskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111g-aw092l|m|s|xl-бирюзовый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (бирюзовый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (бирюзовый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (бирюзовый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5452.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54524.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54524.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5453.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54534.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54534.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Спортивные (парадные)` product_cat, ID 410, slug `sportivnye-paradnye-zhenskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (бирюзовый)` `Товар` (ID: 70391)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u2211g-ff09235|36|37|38|40|41|42|43-серебро`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (серебро)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (серебро)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 8 variations for parent product Кроссовки зимние (серебро).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` for `Кроссовки зимние (серебро)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5675.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56754.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56754.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 405, slug `krossovki-muzhskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (серебро)` `Товар` (ID: 70398)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u1131s-bg092l|m|s|xl-чёрный/серый`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный/серый)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный/серый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Жилет двусторонний (чёрный/серый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5489.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54894.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54894.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5490.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54904.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54904.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный/серый)` `Товар` (ID: 70408)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u1131g-by0922xl|2xs|3xl|4xl|5xl|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 10 variations for parent product Жилет двусторонний (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5491.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54914.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54914.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5492.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54924.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54924.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный)` `Товар` (ID: 70415)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Напульсник`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Напульсник`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `tw01none-красный`...</div>
<div class="progress-msg"><b>CREATING</b> `Напульсник` `Товар`</div>
<div class="progress-msg">Associate post `Напульсник` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Напульсник.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5536.jpg` for `Напульсник` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5536.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5536.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55363.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55363.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Унисекс named `Фитнес` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Унисекс named `Гимнастика` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Напульсник` `Товар` (ID: 70428)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Шнурок для телефона`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Шнурок для телефона`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ts001none-красный`...</div>
<div class="progress-msg"><b>CREATING</b> `Шнурок для телефона` `Товар`</div>
<div class="progress-msg">Associate post `Шнурок для телефона` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Шнурок для телефона.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5537.jpg` for `Шнурок для телефона` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5537.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5537.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55373.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55373.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Унисекс named `Аксессуары` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Шнурок для телефона` `Товар` (ID: 70431)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `m0811s-bg0922xl|2xs|3xl|3xs|4xl|xl-черный`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая мужская (черный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая мужская (черный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Куртка пуховая мужская (черный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5487.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5487.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5487.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54873.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54873.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5488.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5488.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5488.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54883.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54883.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Мужское named `Пуховики` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая мужская (черный)` `Товар` (ID: 70434)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `m0611g-ff092116|128|140|2xl|2xs|3xl|3xs|4xl|l|m|s|xl|xs-`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка флисовая мужская (красный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка флисовая мужская (красный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 13 variations for parent product Куртка флисовая мужская (красный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8842.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original8842.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original8842.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original88423.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original88423.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8844.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original8844.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original8844.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original88443.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original88443.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Creating child Товар product_cat for Мужское named `Флисовые` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка флисовая мужская (красный)` `Товар` (ID: 70443)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные мужские (синий)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные мужские (синий)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `m0121g-ff0922xl|3xl|4xl|5xl|7xl|s|xs-синий`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные мужские (синий)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные мужские (синий)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 7 variations for parent product Брюки парадные мужские (синий).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5503.jpg` for `Брюки парадные мужские (синий)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5503.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5503.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original5503.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5503.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5504.jpg` for `Брюки парадные мужские (синий)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5504.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5504.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original5504.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5504.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 260, slug `bryuki-vetrozashhitnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные мужские (синий)` `Товар` (ID: 70459)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w08190g-rw1522xs|l-`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая женская (красный/белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая женская (красный/белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 2 variations for parent product Куртка пуховая женская (красный/белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original0.jpg` for `Куртка пуховая женская (красный/белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original0.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File http://www.forward-shop.ru/images/uploaded/original0.jpg cannot be saved locally as /var/www/sites/slava/wp-content/uploads/2015/10/original0.jpg</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `tosort`, duplicate detected. Importing Товар to existing `tosort` product_cat, ID 409, slug `tosort` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая женская (красный/белый)` `Товар` (ID: 70469)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
