/*
Theme Name: Adrenalin
Theme URI: http://www.commercegurus.com/themes/adrenalin
Author: CommerceGurus
Author URI: http://www.commercegurus.com
See http://codex.wordpress.org/Right_to_Left_Language_Support

*/

/* Testimonials */

.testimonials-wrap {   
	direction: rtl;
}

    .testimonials-wrap p, 
    .content-area .testimonials-wrap p {  
		direction: rtl;
    }

    .testimonials-wrap span {
		direction: rtl;		
    }

/* Owl Carousels */

.owl-carousel {
	direction: ltr;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	text-align: right;
}

.cg-primary-menu .menu > li > a {
    white-space: nowrap;
}

.cg-strip .text-align-center * {
	text-align: center;
}

.cg-logo-cart-wrap input.sb-search-submit, 
.cg-header-search input.search-submit {
  top: 40px;
  margin-top: -15px;
  left: 5px;
  right: auto;
}

.summary h1, 
.content-area .summary h1,
.summary .product_meta,
ul.tiny-cart li ul.cart_list li.empty {
	text-align: right;
}

caption,
th,
td {
	text-align: right;
}

.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

.cg-header-fixed .menu > li.menu-full-width .cg-submenu-ddown .container > ul > li .cg-submenu, 
.cg-primary-menu .menu > li.menu-full-width .cg-submenu-ddown .container > ul > li .cg-submenu {
	right: auto;
}

.cg-quickview-product-pop .star-rating span {
	text-align: right;
}

.cg-quickview-product-pop .star-rating span {
	background-position: center right;
}

.cg-quickview-product-pop .woocommerce .container .star-rating span, 
.cg-quickview-product-pop .woocommerce-page .container .star-rating span {
	right: 0;
	left: auto;
}

.woocommerce .mfp-content .container .star-rating span, 
.woocommerce-page .mfp-content .container .star-rating span {
	left: auto;
	right: 0;
}

.cg-announcements ul {
	padding-right: 0px;
}

.cg-announcements li {
	max-width: 500px;
}

input.sb-search-input {
	background-position: 30px center !important;
}

form.cart {
	text-align: right;
}

.cg-quickview-product-pop .single-product-details .button {
	position: relative;
	top: 2px;
}

.edit-link a {
	padding-left: 0px;
	padding-right: 22px;
}

.content-area footer.entry-meta .cat-links {
	margin-right: 0px;
	margin-left: 22px;
}

.content-area .entry-meta {
	padding-left: 0px;
	padding-right: 20px;
}

.content-area header .entry-meta:before,
.content-area footer.entry-meta .comments-link:before,
.content-area a.post-edit-link:before {
	left: auto;
	right: 0px;
}

.content-area a.post-edit-link:before {
	top: 0px;
}

.posted-on {
	float: right;
	margin-left: 3px;
}

.blog-pagination ul li {
	margin-right: 5px !important;
}

#comments ol.comment-list li .reply {
	left: 0px;
	right: auto;
}

#comments ol.comment-list li {
	padding-left: 0px;
	padding-right: 50px;
}

.comment-author img {
	right: 0px;
}


/* Content Styles */

.checkout-confirmed-payment .content-area ul li {
	margin-right: 20px;
}

.content-area ul li {
	margin-left: 0px;
}

.content-area ul li:before {
	content: "";
	position: absolute;
	top: 0.6em;
	right: -20px;
	width: 6px;
	height: 6px;
	background: #DF440B;
	border-radius: 3px;
}


/* Header */

.cg-header-search {
	float: left;
}

.cg-menu-below .logo {
	float: right;
}

.cg-announcements {
	float: right;
	width: 500px;
}

.search-form label:before, .cg-header-search .sb-search:before {
	left: 15px;
	right: auto;
}

.sb-search:before {
	left: 11px;
	right: auto;
}

input.search-submit, 
.widget_product_search input#searchsubmit, 
input.sb-search-submit, 
#top-bar-search input.sb-search-submit {
	left: 5px;
	right: auto;
}

input.sb-search-submit {
	right: auto;
	left: 0px;
}

@media only screen and (min-width: 1100px) { 

  .logo a {
    margin-right: 0px;
    margin-left: 30px;
  }

  .cg-menu-below.cg-logo-center .cg-announcements {
	float: left;
}

	.cg-menu-below.cg-logo-center .cg-announcements ul,
	.cg-menu-below.cg-logo-center .cg-announcements ul li {
		text-align: right;
	}

}






/* Primary Menu */

.cg-main-menu {
	float: right;
}

.cg-main-menu ul {
	margin-right: 0;
	padding-right: 0;
}

ul.tiny-cart {
	float: left;
}

.cart_subtotal {
	margin-left: 0;
	margin-right: 34px;
}

.cart_subtotal .amount {
	padding-left: 0;
}

ul.tiny-cart li:hover ul.cart_list {
	left: 0;
	right: auto;
}

.cg-primary-menu-below-wrapper .menu li:first-child {
	padding-right: 0;
	padding-left: 14px;
}

.cg-primary-menu-below-wrapper .menu .cg-menu-ul li:first-child {
	padding-left: 0;
}

.cg-header-fixed .menu > li .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu, 
.cg-primary-menu .menu > li .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu {
	left: auto;
	right: 219px;
}

.cg-header-fixed .menu > li:nth-last-child(1) .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu, 
.cg-primary-menu .menu > li:nth-last-child(1) .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu, 
.cg-header-fixed .menu > li:nth-last-child(2) .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu, 
.cg-primary-menu .menu > li:nth-last-child(2) .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu {
	left: auto;
	right: 219px;
}


/* Fixed menu */

.cg-header-fixed .menu > li .cg-submenu-ddown .container > ul .menu-item-has-children > a:before,
.cg-primary-menu .menu > li .cg-submenu-ddown .container > ul .menu-item-has-children > a:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -10px;
    right: auto;
    margin-left: 13px;
    margin-top: 0px;
    color: #999;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    content: "\f104";
    -webkit-font-smoothing: antialiased;
}

.cg-header-fixed-wrapper.cg-is-fixed .logo {
	float: right;
}


.cg-header-fixed .menu > li .cg-submenu-ddown ul, .cg-primary-menu .menu > li .cg-submenu-ddown ul {
	padding-right: 0;
	margin-right: 0;
}

section.slider .owl-theme .owl-controls {
	right: auto;
	left: 12px;
}

.lightwrapper ul li a {
	margin-right: 0px;
}

.content-area .cart_totals table td,
.content-area table.cart tr td.product-subtotal,
.content-area table.shop_table thead tr th.product-subtotal {
	text-align: left;
}

.yith-wcwl-wishlistexistsbrowse .cg-icon-heart-2-1, 
.yith-wcwl-add-button .cg-icon-heart-2-1, 
.yith-wcwl-wishlistaddedbrowse .cg-icon-heart-2-1 {
	float: right;
}

.yith-wcwl-add-to-wishlist span.feedback {
	float: left;
	margin-right: 20px;
	margin-left: 0px;
}

.cg-product-info .yith-wcwl-add-to-wishlist a {
	text-align: left;
}

.cg-product-info .yith-wcwl-add-to-wishlist a {
	visibility: hidden;
}

.cg-product-info .yith-wcwl-add-to-wishlist a:before {
	visibility: visible;
}

.cg-back-to-prev-wrap {
	margin: 0 -30px;
	text-align: left;
}

.cg-back-to-prev-wrap .nav-dropdown {
	display: none;
}

.woocommerce .container table.shop_attributes th {
	text-align: right;
}

.products {
	padding-right: 0;
}

.cg-quick-view-wrap {
	left: auto;
	right: 10px;
}

.col-xs-product-2 > li {
	float: right;
}

.woocommerce .cart .quantity input.minus {
	margin-left: -1px !important;
}

.container .summary .woocommerce-product-rating .star-rating {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

.summary .price {
	float: right;
}

table.variations td, .content-area table.variations tr td {
	padding-right: 0px;
	padding-left: 15px;
}

.woocommerce .container div.product form.cart .button, 
.woocommerce .container #content div.product form.cart .button, 
.woocommerce-page .container div.product form.cart .button, 
.woocommerce-page .container #content div.product form.cart .button, 
.woocommerce-page .container p.cart a.button, 
.content-area .woocommerce .summary .button {
	float: right;
	margin-right: 0px;
	margin-left: 20px;
}

.breadcrumb-wrapper .fa-angle-right:before {
	content: "\f104";
}

.breadcrumb-wrapper .fa-angle-left:before {
	content: "\f105";
}

.prod-dropdown {
	float: right;
}


div[itemprop="description"] p {
	margin-right: 0px;
}

.comment-form-rating label {
	float: right;
}

body.archive .list-layout .cg-product-img, 
body.single .list-layout .cg-product-img {
	float: right;
}

.woocommerce-page .list-layout .cg-product-info .category {
	text-align: right;
}

.woocommerce-page .list-layout .cg-product-meta-wrap {
	float: left;
}

.list-layout .cg-product-cta {
	text-align: right;
	float: left;
}

.wpb_tabs .wpb_tabs_nav li {
	float: right;
}

.vc_separator.vc_separator_align_left h4 {
	padding: 0 0em 0 0.8em;
}

.cg-product-info .yith-wcwl-add-to-wishlist a:before {
	border: none !important;
}

.single-product-details .variations label {
	float: right;
}

body .wpb_row .wpb_teaser_grid li h2 {
	padding: 15px 0px 10px 15px;
}

.wpb_teaser_grid li .entry-content {
	padding: 0px 0px 20px 15px;
}

.cg-dropcap {
	float: right;
	padding-right: 0px;
	padding-left: 10px;
}

.cg-dropcg--squared {
	margin: 7px 0px 5px 15px;
}

.scwebsite {
	padding-right: 20px;
}

.scwebsite:before {
	right: 15px;
	margin-top: 0px;
}

#cg-articles .thumb .date {
	left: auto;
	right: 0px;
}

#cg-articles p {
	margin-right: 0px !important;
}

.page-numbers, 
.pagination {
	padding-right: 0px;
}

.woocommerce-pagination {
	margin-left: 15px;
}

.content-area table.cart tr td.product-add-to-cart {
	text-align: left;
}


.widget_layered_nav ul.yith-wcan-list li a:before {
	right: -5px;
	left: auto;
}

.widget_layered_nav ul.yith-wcan li a, 
.widget_layered_nav ul.yith-wcan li span {
	padding: 10px 5px 10px 0px;
}

.widget_layered_nav ul.yith-wcan li small {
	right: auto;
	left: 0px;
}

.woocommerce .widget_layered_nav ul.yith-wcan-group li {
	float: right;
}

body .vc_progress_bar .vc_single_bar .vc_bar {
	right: 0px;
}

.widget li img {
	float: right;
	margin-right: 0px;
	margin-left: 15px;
}

#review_form #respond .comment-form-rating .stars {
	margin-left: 0px !important;
	margin-right: 20px;
	float: right;
}

.cg-size-guide-wrap {
	float: right;
	margin-right: 0px;
	margin-left: 25px;
}

.yith-wcwl-add-to-wishlist {
	float: right;
}

.content-area dd {
	margin-right: 0px;
}

.content-area table.my_account_orders td.order-status {
	text-align: right;
}

.content-area table.my_account_orders td.order-actions,
.content-area table.shop_table tfoot td,
.content-area table.shop_table .product-total {
	text-align: left;
}

.content-area .woocommerce-shipping-fields h3#ship-to-different-address input {
	margin-left: 0px;
	margin-right: 10px;
}

.content-area ul.payment_methods li.payment_method_paypal img {
	margin-left: 0px;
	margin-right: 7px;
}

.content-area table.shop_table dd, 
.content-area table.shop_table dt {
	float: right;
}

.col2-set.addresses .col-1, 
.col2-set.addresses .col-2 {
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.content-area .vc_pageable-wrapper h4, 
.vc_pageable-wrapper h4 {
	text-align: right !important;
}

body .vc_gitem-zone .vc_btn, 
body .vc_gitem-zone .vc_gitem-link {
	display: block;
	text-align: right;
}

.mobile-search .widget_product_search:before {
	left: 22px;
	right: auto;
}

.mean-container .mean-nav ul li a {
	text-align: right;
	float: right;
}

.mean-container .mean-nav ul li {
	float: right;
}

.mean-container .mean-nav ul li a.mean-expand {
	left: 0px;
	right: auto;
}

@media (max-width: 768px) {
	.mobile-search .widget_product_search:before {
	left: 12px;
	}
}

@media (max-width: 1100px) {
	.cg-menu-default .logo, .cg-menu-below .logo {
	float: none !important;
	}
}

@media (min-width: 1100px) {
	.menu-main-menu-container, .cg-main-menu {
		float: right;
	}
}

@media (max-width: 1200px) {
.mobile-search .widget_product_search {
	position: relative;
}

.mobile-search .widget_product_search:before {
	left: 10px;
}

}
