/*-------------------------------------------------------------------------
    
ADRENALIN RESPONSIVE

    1.  Only Larger Screens (>1024)
    2.  Tablet AND Mobile (<1024)
    3.  Between Mobile and Tablet (768-1024)
    4.  Greater than Mobile (>768)
    5.  Mobile Only (<768)
    6.  Visual Composer

-------------------------------------------------------------------------*/


/* -- 1. Only Larger Screens (>1024) --
   ================================================== */

@media only screen and (min-width: 1100px) {

  #mobile-menu {
    display: none !important; 
  }
    
  #primary.full-width {
    margin-left: 0;
  }

  .logo a {
    margin-right: 30px;
  }

  .medium-blog.blog-style h2.entry-title, 
  .medium-blog.content-area h2.entry-title {
    margin-top: -6px; 
  }

  .shop-sidebar-left {
    padding-right: 20px;
    margin-top: 8px;
  }

  .shop-sidebar-right {
    padding-left: 20px;
    margin-top: 8px;
    width: 20%;
  }

  .right-sidebar {
    width: 20%;
  }

  .shop-sidebar-left.col-lg-pull-9 {
    right: 80%;
  }

  .shop-sidebar-left.col-lg-3 {
    width: 20%;
    float: left;
  }

  .product-listing-wrapper.col-lg-push-3 {
    left: 20%;
  }

  .product-listing-wrapper.col-lg-9 {
    width: 80%;
    float: left;
  }

}


/* -- 2. Tablet AND Mobile (<1024) --
   ================================================== */

@media (max-width: 1200px) {

.cg-announcements {
    display: none;
  }

  .mobile-search .widget_product_search {
    float: right;
    padding: 3px 0px;
    min-width: 220px;
  }

  .mobile-search .widget_product_search input#s {
    border: none;
    line-height: 16px;
    height: 27px;
    width: 100%;
  }

  .mobile-search .widget_product_search label {
    display: none;
  }

  .widget_product_search input#searchsubmit {
    top: 0px;
    right: 15px;
  }

  .mobile-search .widget_product_search input.search-field {
    border: none;
  }

  .mobile-search .widget_product_search:before {
    display: block;
    font-size: 13px;
    content: "\f002";
    position: absolute;
    top: 6px;
    right: 10px;
    font-weight: 400;
    font-family: 'FontAwesome';
    z-index: 2;
    color: #757575;
  }

}


@media (max-width: 1100px) {

  body.boxed p#breadcrumbs {
    padding: 5px 15px;
  }

  .cg-header-cart-icon-wrap {
    /*top: -60px;*/
    left: 25px;
  }

  .cg-menu-below.cg-logo-center .img-container img {
    padding: 13px 0px;
  }

  .cg-cart-count {
    margin-top: auto;
    top: auto;
    bottom: auto;
    line-height: 21px !important;
  }

  .cg-mobile-search {
    padding-top: 7px;
    position: relative;
    margin-bottom: -3px;
  }

  .cg-mobile-search label {
    display: none;
  }

  .cg-mobile-search .col-sm-12.col-xs-12:before {
    display: block;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 5px;
    right: 25px;
    font-weight: 400;
    font-family: 'FontAwesome';
    z-index: 2;
    color: #757575;
  }

  .cg-mobile-search .widget_product_search input#s {
    width: 100%;
  }

  .cg-mobile-search .widget_product_search input#searchsubmit {
    top: 0px;
    right: 15px;
  }

  .cg-quick-view-mfp-lightbox .mfp-content .summary {
    padding: 30px 30px 10px 30px;
  }

  .breadcrumb-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  p#breadcrumbs {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Disable box shadow */
  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="url"], 
  input[type="tel"],
  input[type="date"], 
  textarea,
  .img,
  .map_inner,
  .flex-control-paging li a,
  .sliderNav.small a,
  .mfp-iframe-scaler iframe,
  .mfp-figure:after,
  .chosen-container .chosen-drop,
  .chosen-container-single .chosen-single,
  .chosen-container-multi .chosen-choices li.search-choice,
  .chosen-container-active .chosen-single,
  .chosen-container-active.chosen-with-drop .chosen-single,
  .content-area .chosen-container-active.chosen-with-drop .chosen-single,
  .chosen-container-active .chosen-choices {
    box-shadow: none;
  }

  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="url"], 
  input[type="tel"], 
  input[type="date"], 
  input[type="number"], 
  textarea {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
  }

  .wpb_row .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wpb_row .wpb_row {
    margin-left: -30px !important;
    margin-right: -30px !important;
  }

  .wpb_single_image img {
    margin-bottom: 20px !important;
  }

  .cg-more-work h2 {
    margin-top: 40px;
  }

  .cg-menu-default, .cg-menu-below {
    height: 60px;
  }

  .bag-icon{
    margin-bottom: -11px;
  }

  .header-nav, .top-nav-wrap {
    display: none;
  }

  /* Hides Top Message < 1024 */
  .top-msg-wrap {
    display: none !important; /* Needed to overwrite Bootstrap's display */
    text-align: center;
    width: 100%;    
  }

  #top #lang_sel{
    margin-right: 50px;
  }

  #primary-nav {
    display: none !important;
  }

  .cart-wrap, 
  ul.tiny-cart {
    left: 2px;
    position: absolute;
    top: 0px;    
    z-index: 1000;
  }

  .mean-bar {
    height: 0px !important;
  }

  .menu-main-menu-container, 
  .cg-main-menu {
    display: none;
  }

  .text-logo h1 {
    line-height: 60px !important;
    text-align: center;    
  }

  ul.cart_list, 
  .cart_subtotal,
  .cart_itemstotal {
    display: none;
  }

  .cg-header-fixed-wrapper.cg-is-fixed {
    display: none;
  }

  .logo a {
    float: none;
  }

  .helper {
    display: inline;
  }

  .cg-menu-default .logo, 
  .cg-menu-below .logo {
    float: none;
  }

  .top-nav-wrap {
    clear: both;
    width: 100%;
  }

  .menu-primary-container {
    display: none;
  }

  ul.top-menu {
    padding: 0px;
  }

  ul.top-menu.pull-right {
    float: left!important;
  }

  .sb-search-input {
    width: 50%;
  }

  .cg-announcements {
    display: none;
  }

  .order-wrap {
    margin-left: 0px;
  }

  .logo a {
    margin: 0 auto;
    display: table;
  }

  .logo img {
    max-width: 325px !important; /* 225 + 75 + 75 */
    padding: 0px 75px !important;  /* SPACE FOR HAMBURGER AND CART ICON */ 
  }

  ul.tiny-cart li ul.cart_list { 
    left: 0;
  }

  ul.tiny-cart li:hover ul.cart_list {
    left: 0;
  }

 .shop-listing-notices p {
  margin: 0px;
  left: auto;
  padding: 0px 30px;
 }

 #customer_login .col-1 {
    width: 100%;
    float: none;
 }

 #customer_login .col-2 {
    width: 100%;
    float: none;
 }

 .subfooter .widget_text {
    margin-bottom: 30px;
 }

  /* Layer Slider */

  .ls-nav-prev,
  .ls-nav-next {
      top: 50% !important;
  }

}


/* -- 3. Between Mobile and Tablet (768-1024) --
   ================================================== */


@media (min-width: 768px) and (max-width: 1024px) {

  ul.tiny-cart {
    line-height: 60px; /* Dynamic */
    height: 60px; /* Dynamic */
  }

  .woocommerce-result-count {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .faqs-reviews, 
  #get-started {
    padding-left: 15px;
    padding-right: 15px;    
  }

  #get-started .main {
    background: none; /* Hide the background on the Get Started Block */
  }

}

/* -- 4. Greater than Mobile (>768) --
   ================================================== */


/* -- 5. Mobile Only (<768) --
   ================================================== */

@media (max-width: 768px) { 


  .mobile-search .widget_product_search {
    float: none;
  }

  .mobile-search .widget_product_search input#s {
    line-height: 20px;
    height: auto;
  }

  .mobile-search .widget_product_search input.search-field {
    font-size: 16px;
    border: none;
  }

  .mobile-search {
    padding-top: 3px;
  }

  .mobile-search .widget_product_search:before {
    top: 8px;
  }

  .product-images #sync1 {
    padding-left: 0px !important;
  }

  .product-nocols .product-images #sync1 {
    padding-left: 0px;
  }

.product-nocols .product-images .owl-prev {
    left: auto;
  }

  .cg-prod-gallery-thumbs {
    height: auto !important;
  }

  .product-nocols .cg-prod-gallery-thumbs .owl-wrapper .cg-prod-gallery-thumb {
    padding-right: 0px;
  }

  .product-nocols .cg-prod-gallery-thumbs {
    width: auto;
  }

  .product-nocols .cg-prod-gallery-thumbs {
    position: relative;
    left: 0px;
    top: auto;
    margin-top: 10px;
  }

  .cg-prod-gallery {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .product-nocols .cg-prod-gallery-thumbs .owl-wrapper, 
  .product-nocols .cg-prod-gallery-thumbs .owl-wrapper .owl-item {
    width: auto !important;
  }

  .single-product-details .onsale-wrap {
    left: 0px;
  }

  .cg-shop-archive {
    margin-top: 20px;
  }

  .cg-header-cart-icon-wrap {
    left: 50px;
  }

  a.reset_variations {
    line-height: 40px;
  }

  .container .wpb_text_column *:last-child {
    margin-bottom: 30px;
  }

  .container .wpb_text_column .wpcf7-form *:last-child,
  .container .wpb_accordion_content .wpb_text_column *:last-child {
    margin-bottom: 0px;
  }

  .yith-wcwl-add-to-wishlist span.feedback {
    display: none;
  }

  .footer-credit-cards {
    float: left;
    margin-left: -6px;
  }

  .cg-size-guide-wrap {
    clear: both;
  }

  #secondary {
    margin-top: 0px;
    margin-right: 0px;
  }

  .wpb_video_widget {
    margin-bottom: 30px;
  }

  .img.slideUp {
    height: auto;
    margin: 0px;
  }

  .tf_showcase, .showcases {
    margin-bottom: 0px;
  }

  .img.slideUp .caption {
    padding-bottom: 0px;
    height: auto;
  }

  .img .caption.bottom, .img .caption {
    position: relative;
  }

  .img.slideUp:hover .caption {
    margin-top: 0px;
  }

  .img.slideUp img {
    width: 100%;
  }

  .img.slideUp:hover img {
    margin-top: 0px;
  }

  .container .wpb_tabs .wpb_tabs_nav li.ui-state-active {
    margin-right: 5px;
  }

  .onsale-wrap {
    height: 48px;
  }

  .cg-map-info .col-md-4 {
    float: none;
  }

  #preloader {
    display: none;
  }

  body, html { 
    overflow-x: hidden; 
  }

  html {
    overflow-y: scroll; 
  }

  input[type='text'],
  input[type='number'],
  textarea,
  select:focus,
  textarea:focus {
    font-size: 16px !important;
    -webkit-appearance: none;
  }

  .cg-shopping-toolbar {
    padding-bottom: 6px;
  }

.cg-shopping-toolbar .wcml_currency_switcher {
  float: none;
  clear: both;
  margin: 0px !important;
  padding: 0px !important;
  border: none;
  position: relative;
  z-index: 10;
  text-align: center;
}

.cg-shopping-toolbar #lang_sel_list ul {
  text-align: center;
}

.cg-shopping-toolbar ul.wcml_currency_switcher li,
.cg-shopping-toolbar #lang_sel_list li {
  display: inline-block;
  float: none;
}

ul.wcml_currency_switcher.curr_list_horizontal li,
.cg-shopping-toolbar #lang_sel_list a, 
.cg-shopping-toolbar #lang_sel_list a:visited {
  line-height: 26px;
}

.cg-shopping-toolbar .yith-ajaxsearchform-container {
  float: none;
}

.cg-shopping-toolbar .widget_icl_lang_sel_widget {
  float: none;
  margin-bottom: -10px;
}

.cg-shopping-toolbar #lang_sel_list li {
  margin-right: 3px !important;
  margin-left: 3px !important;
}

.cg-shopping-toolbar ul.wcml_currency_switcher.curr_list_horizontal li {
  margin-right: 4px;
  margin-left: 4px;
}

.cg-shopping-toolbar #lang_sel_list a {
  padding-left: 0px;
  padding-right: 5px;
}

.cg-shopping-toolbar .wpml .widget_text {
  float: none;
  margin-right: 0px;
}

.cg-shopping-toolbar .autocomplete-suggestions {
  border-top: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 6px;
}

.cg-shopping-toolbar .widget_product_search {
  clear: both;
  position: relative;
}

.mobile-search .widget_product_search:before {
  right: 12px;
}

.cg-shopping-toolbar input.sb-search-submit {
  top: 0px;
}

.cg-shopping-toolbar .sb-search:before {
  top: 3px;
}

.cg-shopping-toolbar input.sb-search-input {
  width: 100%;
  float: none;
  font-size: 16px;
}

.cg-shopping-toolbar .sb-search {
  float: none;
  width: 100%;
  clear: both;
}

.woocommerce-billing-fields select,
.woocommerce-shipping-fields select {
  width: 100%;
}

.woocommerce-shipping-fields select {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  position: relative;
  top: 3px;
}

input[type="radio"] {
  position: relative;
  top: 2px;
}

#live-preview .open {
  display: none !important;
}

  body#skrollr-body {
    height: auto !important;
  }

  .wpb_layerslider_element {
    margin-bottom: -20px !important;
  }
  
   .cg-strip-wrap {
    margin-bottom: 20px !important;
   }

   .cg-strip-wrap.cg-video-wrap {
    margin-bottom: 0px !important;
   }

   .product-wrap {
    margin-bottom: 30px;
   }

   .mobile-padding-0 .vc_col-sm-6{
    padding: 0px;
   }

  .up-sell-grid {
    margin: 15px;
  }

  .cg-primary-menu .container, 
  .cg-logo-cart-wrap .container {
    padding: 0px;
  }

  .highlight-block {
    padding: 20px 0px 20px 0px;
  }

  .mobile-nav-wrap {
    width: 20px;
  }

  .bag-icon {
    margin-left: 15px;
    background-size: 19px 28px;
    background-repeat: no-repeat;
  }

  ul.tiny-cart {
    margin-left: -20px;
  }

  .navbar-toggle {
    float: left;
    padding: 0 !important;
    margin: 0 15px 0 0 !important;
  }

  .cart_dropdown_link {
    font-size: 18px !important;
  }

  .cart_subtotal, .cart_itemstotal {
    display: none;
  }

  .list-layout .cg-product-img {
    width: 100%;
  }

  .list-layout .cg-product-meta-wrap {
    width: 100%;
    margin-top: 20px;
  }

  .cg-product-img .back-flip img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .single-product-details .onsale-wrap {
    height: 68px;
  }

  .cg-product-detail {
    margin-top: 25px;
    padding: 0px 15px;
  }

  .content-area .woocommerce-tabs .tabs, 
  .woocommerce-tabs .tabs {
    height: auto;
  }

  .woocommerce .woocommerce-tabs ul.tabs li.active a:after {
    display: none;
  }

  .woocommerce-tabs .tabs li a {
    float: none;
    margin-right: 0px;
    border-bottom: none;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .highlight-block h2 {
    line-height: 1.5em;
    margin: 0px 15px;
  }

  .highlight-block h2 a {
    display: block;
    line-height: 1em;
    padding: 17px 25px;
  }

  .cg-msg-text {
    position: relative;
  }

  .cg-msg-wrap {
    height: auto !important;
  }

  .cg-features .cg-strip {
    height: auto !important;
  }

  .cg-features .cg-strip-bg {
    position: relative;
  }

  .cg-features .cg-strip .cg-pos {
    position: relative;
    margin-bottom: 0px !important; 
  }

  .cg-strip h3 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .cg-strip p {
    margin: 20px 30px !important;
  }

  .cg-folio-text-wrap {
    opacity: 1;
  }

  .tip.routine, 
  .video-bg-img, 
  .cg-msg-bg, 
  .cg-strip-bg {
    background-size: auto !important;
  }

  #desk h4 {
    font-size: 2.2em;
  }

  .testimonials-wrap p {
    margin: 0px 0px;
  }

  .header .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header .bag-icon {
    margin-left: 15px;
  }

  .post-thumb img {
    width: 100%;
  }

  body .wpb_teaser_grid .categories_filter li a, 
  #filters button {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 5px !important;
    padding: 3px 13px;    
  }

  .wpb_button {
    display: block;
    margin-bottom: 5px !important;
  }

  .cg-strip-wrap h1 {
    font-size: 38px;
    line-height: 1.25em !important;
  }

  body.woocommerce-page .content-area, 
  body.woocommerce-page .entry-content {
    padding-top: 10px;
  }

  .container .wpb_tabs .wpb_tabs_nav li {
    float: none;
  }

  .container .wpb_tabs .wpb_tabs_nav li.ui-tabs-active a {
    background: #fff;
  }

  .container .wpb_tabs .wpb_tabs_nav li a {
    display: block;
    width: 100%;
  }

  /* Related */
  .related .col-xs-product-2 > li:nth-of-type(2n+1) {
      clear: both;
  }

  .widget_products_reviews .comments-list-products {
    margin: 0px -10px 40px -10px;
  }

  .widget_products_reviews .comments-list-products li {
    padding: 15px 10px 5px 10px;
    width: 33.33%;    
  }

  .widget_products_reviews .comments-list-products li:nth-of-type(2n+1) {
    clear: none;
  }

  .widget_products_reviews .comments-list-products li:nth-of-type(3n+1) {
    clear: both;
  }

  body.single-product .product-details-wrapper .widget {
    margin-right: 0px;
  }

  .woocommerce .container .product-images span.onsale, 
  .woocommerce-page .container .product-images span.onsale {
    margin-left: 6px;
  }

  .main-cart-wrap {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }

  .cart-collaterals {
    padding-left: 0px;
  }

  .content-area table.cart tr td.product-thumbnail {
    width: 50px;
  }

  .content-area table.shop_table thead tr th {
    font-size: 11px;
  }

  .content-area table.cart tr td {
    font-size: 13px;
    padding: 10px 5px 10px 0px;
  }

  .content-area table.cart tr td.product-remove {
    padding: 0px;
  }

  .content-area table.cart tr td.product-thumbnail {
    padding: 0px;
    width: 1px;
  }

  .content-area table.cart tr td.product-remove {
    width: 1px;
  }

  .content-area table.cart tr td.product-remove a {
    display: none;
  }

  .content-area table.cart tr td.product-thumbnail img {
    display: none;
  }

  .content-area table.cart tr td.product-subtotal {
    padding-left: 10px;
  }

  .content-area table.cart tr td.product-quantity {
    padding-left: 0px;
  }

  .content-area table.cart td dt{
    clear: both;
  }

  .content-area table.cart .quantity input.plus, 
  .content-area table.cart .quantity input.minus {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    width: 20px;
  }

  .content-area table.cart .quantity input.qty {
    height: 30px;
    font-size: 13px;
    width: 25px;
    line-height: 30px;
  }

  .next-prev-nav {
    display: none;
  }

  .up-sell-product {
    width: 50%;
    padding: 5px 10px;
    float: left;
  }

  .up-sell-product img {
    width: 100%;
  }

  .container .wpb_tour_next_prev_nav span {
    padding-top: 1em;
  }

  .wpb_tour_next_prev_nav span {
    width: 100% !important;
    display: block !important;
  }

  .container .wpb_tour_next_prev_nav a {
    text-align: center;
    display: block;
  }

  ul.cart_list {
    display: none;
  }

  .view-switcher {
    padding-top: 15px;
  }

  .product-cat-meta {
    bottom: auto;
    left: auto;
    margin-top: 0px;    
    position: relative;  
    padding: 25px;
    width: 100%;
  }

  .woocommerce-result-count {
    line-height: 50px;
  }

  .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 100%;
  }

  .woocommerce-ordering .bootstrap-select.btn-group.orderby {
    margin-bottom: 5px;
  }

  .woocommerce-pagination {
    float: none;
  }

  .page-numbers {
    float: none;
    margin: 5px 0px;
  }

  #desk {
    padding-top: 10px;
  }

  .iosslider {
    min-height: 85px;
  }

  .shop-listing-notices {
    height: auto !important;
  }

  .content-area blockquote.pullleft {
    float: none;
    width: 100%;
    margin-right: 0px;
  }

  .content-area blockquote.pullright {
    float: none;
    width: 100%;
    margin-left: 0px;
  }

  .content-area .flex-direction-nav {
    display: none;
  }

  .ult-spacer {
    height: 0px !important;
  }

  .faqs-reviews h3 {
    margin-top: 50px;
  }

  .stats-block {
    margin-bottom: 30px !important;
  }

  .content-area ul.woogrid {
    margin-left: 0px;
    margin-right: 0px;
  }

  body #sc_chat_box {
    display: none;
  }

  .cg-pos {
    left: 0px !important;
  }

  .cg-strip-wrap .row div {
    width: 100% !important;
  }

  .container .vc_pie_chart {
    margin-bottom: -10px;
    margin-top: 40px !important;
  }

  .container .vc_pie_chart h4 {
    margin-top: 0px;
  }

  body.blog #primary, body.single #primary {
    margin-top: 20px;
  }

  .content-area .comments-area {
    border: none;
    padding: 0px;
    margin-bottom: 10px;
  }

  .highlight-block h2 a {
    margin-top: 20px;
  }

  .see-through, .content-area .see-through, 
  .wpb_button.see-through {
    margin-left: 0px;
  }

  .cg-map-info {
    position: relative;
  }

  .map-info {
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0px;
  }

  .map-info .pull-right {
    float: none !important;
  }

  .map_inner {
    padding: 15px 15px 0px 15px;
    border-radius: 0px;
    margin: 0px -15px;
  }

  .container .wpb_text_column .product.cg-product-wrap *:last-child,
  .container .wpb_text_column .price *:last-child {
    margin-bottom: 0px;
  }

  .vc_empty_space {
    height: 0px !important;
  }

  .content-area table.my_account_orders {
    font-size: 13px;
  }

  .content-area table.my_account_orders th.order-actions, 
  .content-area table.my_account_orders td.order-actions {
    display: none;
  }

  /* Layer Slider */

  .ls-nav-prev,
  .ls-nav-next {
      top: 60% !important;
      height: 20px;
      width: 20px;
  }

  .ls-nav-prev {
    left: 5px;
  }

  .ls-nav-next {
    right: 5px;
  }

  .ls-nav-prev:after,
  .ls-nav-next:after {
    font-size: 16px;
    line-height: 20px;
  }
} 


/* -- 6. Visual Composer --
   ================================================== */

@media (max-width: 480px) { 
  .video-wrap .container h2 {
    margin-top: 40px;
  }

  .content-area .cross-sells ul.products li {
    width: 50% !important;
  }

  .content-area .cross-sells{
    padding-top: 0px;
  }

  .woocommerce-message a {
    top: 0px;
  }

}

@media (min-width: 1100px) {
  #mobile-menu {
    display: none !important;
  }

  .menu-main-menu-container, .cg-main-menu {
    display: block !important;
    float: left;
  }

  .cg-main-menu {
    width: 80%;
  }
}
