<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Категории товаров` taxonomy...</div>
<div class="progress-msg">Composing terms for `Метки товаров` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кроссовки зимние (чёрный)36|37|38|39|40-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Кроссовки зимние (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` for `Кроссовки зимние (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5674.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56742.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56742.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (чёрный)` `Товар` (ID: 70150)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Брюки парадные женские (белый)2xl|l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Брюки парадные женские (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5499.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54992.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54992.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5500.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55002.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55002.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (белый)` `Товар` (ID: 70157)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Брюки парадные женские (чёрный)2xs|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Брюки парадные женские (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5501.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55012.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55012.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5502.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55022.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55022.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (чёрный)` `Товар` (ID: 70165)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (белый)l|m|s|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5448.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54482.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54482.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5449.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54492.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54492.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70174)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (белый)2xl|l|m|xl-белый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5446.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54462.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54462.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5447.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54472.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54472.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70181)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка парадная женская (бирюзовый)l|m|s|xl-бирюзовый`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (бирюзовый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (бирюзовый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (бирюзовый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5452.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54522.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54522.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5453.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54532.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54532.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (бирюзовый)` `Товар` (ID: 70188)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кроссовки зимние (серебро)35|36|37|38|40|41|42|43-серебро`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (серебро)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (серебро)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 8 variations for parent product Кроссовки зимние (серебро).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` for `Кроссовки зимние (серебро)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5675.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56752.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56752.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (серебро)` `Товар` (ID: 70195)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Жилет двусторонний (чёрный/серый)l|m|s|xl-чёрный/серый`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный/серый)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный/серый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Жилет двусторонний (чёрный/серый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5489.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54892.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54892.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5490.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54902.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54902.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный/серый)` `Товар` (ID: 70205)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Жилет двусторонний (чёрный)2xl|2xs|3xl|4xl|5xl|l|m|s|xl|xs-чёрный`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 10 variations for parent product Жилет двусторонний (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5491.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54912.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54912.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5492.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54922.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54922.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный)` `Товар` (ID: 70212)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Напульсник`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Напульсник`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Напульсникnone-красный`...</div>
<div class="progress-msg"><b>CREATING</b> `Напульсник` `Товар`</div>
<div class="progress-msg">Associate post `Напульсник` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Напульсник.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5536.jpg` for `Напульсник` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5536.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5536.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55362.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55362.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Напульсник` `Товар` (ID: 70225)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Шнурок для телефона`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Шнурок для телефона`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Шнурок для телефонаnone-красный`...</div>
<div class="progress-msg"><b>CREATING</b> `Шнурок для телефона` `Товар`</div>
<div class="progress-msg">Associate post `Шнурок для телефона` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Шнурок для телефона.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5537.jpg` for `Шнурок для телефона` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5537.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5537.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55372.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55372.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Шнурок для телефона` `Товар` (ID: 70228)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка пуховая мужская (черный)2xl|2xs|3xl|3xs|4xl|xl-черный`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая мужская (черный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая мужская (черный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Куртка пуховая мужская (черный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5487.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5487.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5487.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54872.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54872.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5488.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5488.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5488.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54882.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54882.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая мужская (черный)` `Товар` (ID: 70231)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка флисовая мужская (красный)116|128|140|2xl|2xs|3xl|3xs|4xl|l|m|s|xl|xs-`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка флисовая мужская (красный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка флисовая мужская (красный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 13 variations for parent product Куртка флисовая мужская (красный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8842.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original8842.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original8842.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original88422.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original88422.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8844.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original8844.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original8844.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original88442.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original88442.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка флисовая мужская (красный)` `Товар` (ID: 70240)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Куртка пуховая женская (красный/белый)2xs|l-`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая женская (красный/белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая женская (красный/белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 2 variations for parent product Куртка пуховая женская (красный/белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original0.jpg` for `Куртка пуховая женская (красный/белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original0.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File http://www.forward-shop.ru/images/uploaded/original0.jpg cannot be saved locally as /var/www/sites/slava/wp-content/uploads/2015/10/original0.jpg</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая женская (красный/белый)` `Товар` (ID: 70256)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
