<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Категории товаров` taxonomy...</div>
<div class="progress-msg">Composing terms for `Метки товаров` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u2211g-by092`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Кроссовки зимние (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` for `Кроссовки зимние (чёрный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5674.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (чёрный)` `Товар` (ID: 69932)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0121g-ff092`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 5 variations for parent product Брюки парадные женские (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5499.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5500.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (белый)` `Товар` (ID: 69938)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0121g-bw092`...</div>
<div class="progress-msg"><b>CREATING</b> `Брюки парадные женские (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Брюки парадные женские (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5501.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5502.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Брюки парадные женские (чёрный)` `Товар` (ID: 69944)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111s-ww092`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5448.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5449.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 69951)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111g-ff092`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5446.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5447.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 69956)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w0111g-aw092`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка парадная женская (бирюзовый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (бирюзовый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Куртка парадная женская (бирюзовый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5452.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5453.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка парадная женская (бирюзовый)` `Товар` (ID: 69961)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u2211g-ff092`...</div>
<div class="progress-msg"><b>CREATING</b> `Кроссовки зимние (серебро)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (серебро)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 8 variations for parent product Кроссовки зимние (серебро).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` for `Кроссовки зимние (серебро)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5675.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кроссовки зимние (серебро)` `Товар` (ID: 69966)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u1131s-bg092`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный/серый)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный/серый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 4 variations for parent product Жилет двусторонний (чёрный/серый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5489.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5490.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный/серый)` `Товар` (ID: 69975)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `u1131g-by092`...</div>
<div class="progress-msg"><b>CREATING</b> `Жилет двусторонний (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 10 variations for parent product Жилет двусторонний (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5491.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5492.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Жилет двусторонний (чёрный)` `Товар` (ID: 69980)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Напульсник`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Напульсник`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `tw01`...</div>
<div class="progress-msg"><b>CREATING</b> `Напульсник` `Товар`</div>
<div class="progress-msg">Associate post `Напульсник` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Напульсник.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5536.jpg` for `Напульсник` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5536.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Напульсник` `Товар` (ID: 69991)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Шнурок для телефона`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Шнурок для телефона`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ts001`...</div>
<div class="progress-msg"><b>CREATING</b> `Шнурок для телефона` `Товар`</div>
<div class="progress-msg">Associate post `Шнурок для телефона` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 1 variations for parent product Шнурок для телефона.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5537.jpg` for `Шнурок для телефона` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5537.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Шнурок для телефона` `Товар` (ID: 69993)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая мужская (черный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `m0811s-bg092`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая мужская (черный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая мужская (черный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 6 variations for parent product Куртка пуховая мужская (черный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5487.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5487.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5488.jpg` for `Куртка пуховая мужская (черный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original5488.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая мужская (черный)` `Товар` (ID: 69995)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка флисовая мужская (красный)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `m0611g-ff092`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка флисовая мужская (красный)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка флисовая мужская (красный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 13 variations for parent product Куртка флисовая мужская (красный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8842.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original8842.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original8844.jpg` for `Куртка флисовая мужская (красный)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original8844.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка флисовая мужская (красный)` `Товар` (ID: 70002)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `w08190g-rw152`...</div>
<div class="progress-msg"><b>CREATING</b> `Куртка пуховая женская (красный/белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая женская (красный/белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 2 variations for parent product Куртка пуховая женская (красный/белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original0.jpg` for `Куртка пуховая женская (красный/белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original0.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File http://www.forward-shop.ru/images/uploaded/original0.jpg cannot be saved locally as /var/www/sites/slava/wp-content/uploads/2015/10/original0.jpg</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Куртка пуховая женская (красный/белый)` `Товар` (ID: 70016)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
