<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Категории товаров` taxonomy...</div>
<div class="progress-msg">Composing terms for `Метки товаров` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (чёрный)`...</div>
<div class="progress-msg">Duplicate post was found for post Кроссовки зимние (чёрный) with unique key `u2211g-by092`...</div>
<div class="progress-msg">Deleting attachments for `Кроссовки зимние (чёрный)`</div>
<div class="progress-msg">Deleting images for `Кроссовки зимние (чёрный)`</div>
<div class="progress-msg"><b>UPDATING</b> `Кроссовки зимние (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Кроссовки зимние (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` for `Кроссовки зимние (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5674.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5674.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56743.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56743.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 405, slug `krossovki-muzhskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Кроссовки зимние (чёрный)` `Товар` (ID: 70259)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (белый)`...</div>
<div class="progress-msg">Duplicate post was found for post Брюки парадные женские (белый) with unique key `w0121g-ff092`...</div>
<div class="progress-msg">Deleting attachments for `Брюки парадные женские (белый)`</div>
<div class="progress-msg">Deleting images for `Брюки парадные женские (белый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Брюки парадные женские (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Брюки парадные женские (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5499.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5499.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54993.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54993.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` for `Брюки парадные женские (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5500.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5500.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55003.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55003.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Брюки парадные женские (белый)` `Товар` (ID: 70266)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Брюки парадные женские (чёрный)`...</div>
<div class="progress-msg">Duplicate post was found for post Брюки парадные женские (чёрный) with unique key `w0121g-bw092`...</div>
<div class="progress-msg">Deleting attachments for `Брюки парадные женские (чёрный)`</div>
<div class="progress-msg">Deleting images for `Брюки парадные женские (чёрный)`</div>
<div class="progress-msg"><b>UPDATING</b> `Брюки парадные женские (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Брюки парадные женские (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Брюки парадные женские (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5501.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5501.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55013.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55013.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` for `Брюки парадные женские (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5502.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5502.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original55023.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original55023.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Брюки`, duplicate detected. Importing Товар to existing `Брюки` product_cat, ID 400, slug `bryuki` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Брюки парадные женские (чёрный)` `Товар` (ID: 70274)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post was found for post Куртка парадная женская (белый) with unique key `w0111s-ww092`...</div>
<div class="progress-msg">Deleting attachments for `Куртка парадная женская (белый)`</div>
<div class="progress-msg">Deleting images for `Куртка парадная женская (белый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5448.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5448.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54483.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54483.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5449.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5449.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54493.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54493.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки&gt;Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Куртки&gt;Спортивные (парадные)` product_cat, ID 406, slug `kurtkisportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70283)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (белый)`...</div>
<div class="progress-msg">Duplicate post was found for post Куртка парадная женская (белый) with unique key `w0111g-ff092`...</div>
<div class="progress-msg">Deleting attachments for `Куртка парадная женская (белый)`</div>
<div class="progress-msg">Deleting images for `Куртка парадная женская (белый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Куртка парадная женская (белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Куртка парадная женская (белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5446.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5446.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54463.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54463.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` for `Куртка парадная женская (белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5447.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5447.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54473.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54473.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки&gt;Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Куртки&gt;Спортивные (парадные)` product_cat, ID 406, slug `kurtkisportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Куртка парадная женская (белый)` `Товар` (ID: 70290)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка парадная женская (бирюзовый)`...</div>
<div class="progress-msg">Duplicate post was found for post Куртка парадная женская (бирюзовый) with unique key `w0111g-aw092`...</div>
<div class="progress-msg">Deleting attachments for `Куртка парадная женская (бирюзовый)`</div>
<div class="progress-msg">Deleting images for `Куртка парадная женская (бирюзовый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Куртка парадная женская (бирюзовый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка парадная женская (бирюзовый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Куртка парадная женская (бирюзовый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5452.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5452.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54523.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54523.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` for `Куртка парадная женская (бирюзовый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5453.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5453.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54533.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54533.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Куртки&gt;Спортивные (парадные)`, duplicate detected. Importing Товар to existing `Куртки&gt;Спортивные (парадные)` product_cat, ID 406, slug `kurtkisportivnye-paradnye` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Куртка парадная женская (бирюзовый)` `Товар` (ID: 70297)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кроссовки зимние (серебро)`...</div>
<div class="progress-msg">Duplicate post was found for post Кроссовки зимние (серебро) with unique key `u2211g-ff092`...</div>
<div class="progress-msg">Deleting attachments for `Кроссовки зимние (серебро)`</div>
<div class="progress-msg">Deleting images for `Кроссовки зимние (серебро)`</div>
<div class="progress-msg"><b>UPDATING</b> `Кроссовки зимние (серебро)` `Товар`</div>
<div class="progress-msg">Associate post `Кроссовки зимние (серебро)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Кроссовки зимние (серебро).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` for `Кроссовки зимние (серебро)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5675.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5675.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original56753.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original56753.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Мужское`, duplicate detected. Importing Товар to existing `Мужское` product_cat, ID 217, slug `muzhskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Кроссовки`, duplicate detected. Importing Товар to existing `Кроссовки` product_cat, ID 405, slug `krossovki-muzhskoe` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Кроссовки зимние (серебро)` `Товар` (ID: 70304)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный/серый)`...</div>
<div class="progress-msg">Duplicate post was found for post Жилет двусторонний (чёрный/серый) with unique key `u1131s-bg092`...</div>
<div class="progress-msg">Deleting attachments for `Жилет двусторонний (чёрный/серый)`</div>
<div class="progress-msg">Deleting images for `Жилет двусторонний (чёрный/серый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Жилет двусторонний (чёрный/серый)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный/серый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Жилет двусторонний (чёрный/серый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5489.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5489.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54893.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54893.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` for `Жилет двусторонний (чёрный/серый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5490.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5490.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54903.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54903.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Жилет двусторонний (чёрный/серый)` `Товар` (ID: 70314)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Жилет двусторонний (чёрный)`...</div>
<div class="progress-msg">Duplicate post was found for post Жилет двусторонний (чёрный) with unique key `u1131g-by092`...</div>
<div class="progress-msg">Deleting attachments for `Жилет двусторонний (чёрный)`</div>
<div class="progress-msg">Deleting images for `Жилет двусторонний (чёрный)`</div>
<div class="progress-msg"><b>UPDATING</b> `Жилет двусторонний (чёрный)` `Товар`</div>
<div class="progress-msg">Associate post `Жилет двусторонний (чёрный)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Жилет двусторонний (чёрный).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5491.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5491.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54913.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54913.jpg`</div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` for `Жилет двусторонний (чёрный)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original5492.jpg`</div>
<div class="progress-msg">- Image `http://www.forward-shop.ru/images/uploaded/original5492.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://venedor.local/wp-content/uploads/2015/10/original54923.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://venedor.local/wp-content/uploads/2015/10/original54923.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Унисекс`, duplicate detected. Importing Товар to existing `Унисекс` product_cat, ID 407, slug `uniseks` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `Жилеты`, duplicate detected. Importing Товар to existing `Жилеты` product_cat, ID 408, slug `zhilety-uniseks` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Жилет двусторонний (чёрный)` `Товар` (ID: 70321)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Куртка пуховая женская (красный/белый)`...</div>
<div class="progress-msg">Duplicate post was found for post Куртка пуховая женская (красный/белый) with unique key `w08190g-rw152`...</div>
<div class="progress-msg">Deleting attachments for `Куртка пуховая женская (красный/белый)`</div>
<div class="progress-msg">Deleting images for `Куртка пуховая женская (красный/белый)`</div>
<div class="progress-msg"><b>UPDATING</b> `Куртка пуховая женская (красный/белый)` `Товар`</div>
<div class="progress-msg">Associate post `Куртка пуховая женская (красный/белый)` with current import ...</div>
<div class="progress-msg"><b>CREATED</b>: 0 variations for parent product Куртка пуховая женская (красный/белый).</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.forward-shop.ru/images/uploaded/original0.jpg` for `Куртка пуховая женская (красный/белый)` ...</div>
<div class="progress-msg">- Downloading image from `http://www.forward-shop.ru/images/uploaded/original0.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File http://www.forward-shop.ru/images/uploaded/original0.jpg cannot be saved locally as /var/www/sites/slava/wp-content/uploads/2015/10/original0.jpg</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Товар product_cat `Женское`, duplicate detected. Importing Товар to existing `Женское` product_cat, ID 224, slug `zhenskoe` ...</div>
<div class="progress-msg">- Attempted to create child Товар product_cat `tosort`, duplicate detected. Importing Товар to existing `tosort` product_cat, ID 409, slug `tosort` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Куртка пуховая женская (красный/белый)` `Товар` (ID: 70334)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
